@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

.gold-border-glow {
  box-shadow: 0 0 15px rgba(242, 185, 13, 0.3);
}

.masonry-item:nth-child(even) {
  margin-top: 2rem;
}

.luxury-drop-zone {
  background-image: 
    linear-gradient(90deg, #f2b90d 50%, transparent 50%), 
    linear-gradient(90deg, #f2b90d 50%, transparent 50%), 
    linear-gradient(0deg, #f2b90d 50%, transparent 50%), 
    linear-gradient(0deg, #f2b90d 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
}

.luxury-drop-zone:hover {
  background-color: rgba(242, 185, 13, 0.03);
  background-size: 25px 1px, 25px 1px, 1px 25px, 1px 25px;
}
