@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark font-display text-white selection:bg-primary selection:text-black;
  }
}

@layer components {
  .film-grain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
    opacity: 0.04;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDRBF439dDlBTn4WmdHwa0f9dyswWxjr3-871vHtkrRGbMQ_2NFlOayiGfIcmFxyQujUaIpCxhXfmyjcpZ4KGTRojmvswqEfthnNIpDAB2wIkpy7w9Q-P9leh_L5CYdzG4ADtItB51SKlhnvqxo-Zu2r0PlAs5sQWhKB3Kr0UNi7Mm8UXo3mlCMvy-KD0mGm8skP6oRzv5XruxUq0L_U_CeQHg1ZYF3a02fPd0tahPpHnmVavGaOq266My4W4mSi5Gljd6LMuBgRls);
  }

  .gold-border-glow {
    box-shadow: 0 0 15px rgba(242, 185, 13, 0.3);
  }

  .masonry-item:nth-child(even) {
    margin-top: 2rem;
  }

  .luxury-drop-zone {
    background-image: 
      linear-gradient(90deg, #f2b90d 50%, transparent 50%), 
      linear-gradient(90deg, #f2b90d 50%, transparent 50%), 
      linear-gradient(0deg, #f2b90d 50%, transparent 50%), 
      linear-gradient(0deg, #f2b90d 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }

  .luxury-drop-zone:hover {
    background-color: rgba(242, 185, 13, 0.03);
    background-size: 25px 1px, 25px 1px, 1px 25px, 1px 25px;
  }
}
